

<!--次の問題と前の問題に移動するためのボタン-->
<nav aria-label="..." style="float: left;">

    <ul class="pagination">

        <!--前の問題-->
        <li class="page-item">
            <button id="prev" class="btn">前の週</button>
        </li>
        <li class="page-item">
            <br>
        </li>
        <!--次の問題-->
        <li class="page-item">
            <button id="next" class="btn">次の週</button>
        </li>
    </ul>
</nav>

<!--グラフのタイプを切り替えるボタン-->
<nav aria-label="..." style="float: right;">

    <ul class="pagination">

        <!--週間-->
        <li class="page-item">
            <button id="week" name="week" class="btn">一週間</button>
        </li>
        <li class="page-item">
            <button id="month" name="month" class="btn">月間</button>
        </li>
        <!--次の問題-->
        <li class="page-item">
            <button id="year" name="year" class="btn">年間</button>
        </li>
    </ul>
</nav>