
<div class="popup-overlay">
    <div class="popup-content">

        <!--ポップアップのタイトル-->
        <h1 id="title_show"></h1>

        <!--ポップアップのコンテンツ-->
        <div id="popup_content">
            <p>勉強時間</p>
            <p id="study_time"></p>
        </div>

        <!--ポップアップを閉じるボタン-->
        <button id="close">閉じる</button>
    </div>
</div>