<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>音楽</title>
    <meta charset="UTF-8">
</head>
<body>
<input type="button">
<a href="/test2/music">Play</a>
<button>hello</button>
</body>
</html>