

<!--question box-->
<div id="question_box">

    <!--display question-->
    <div id="question">
    </div>
    <br>

    <!--display choices-->
    <form id="choices" class="">

        <!--choice 1-->
        <div class="choice">
            <input id="1" type="radio" name="choice">
            <label id="choice_1"></label>
        </div>

        <!--choice 2-->
        <div class="choice">
            <input id="2" type="radio" name="choice">
            <label id="choice_2"></label>
        </div>

        <!--choice 3-->
        <div class="choice">
            <input id="3" type="radio" name="choice">
            <label id="choice_3"></label>
        </div>

        <!--choice 4-->
        <div class="choice">
            <input id="4" type="radio" name="choice">
            <label id="choice_4"></label>
        </div>
    </form>
    <br>

    <!--notice zone-->
    <div id="notice"></div>
    <br>

    <!--answer button-->
    <button id="answer_button" type="button" class="btn btn-primary">解答</button>
    <br>
    <br>
    <br>

    <div id="answer"></div>

    <!--result view-->
    <div id="result"></div>
    <br>

    <!--問題の解説-->
    <div id="describe"></div>
    <br>

    <!--日本語訳-->
    <div id="ja"></div>
</div>