

<!--クエスチョンボックス-->
<div id="box">

    <!--問題文を挿入する部分-->
    <div id="question">
    </div>
    <br>

    <!--英作文の解答を入力するためのフォーム-->
    <textarea id="input" placeholder="ここに解答を記入してください" cols="40" rows="5"></textarea>
    <br><br>

    <!--notice zone-->
    <div id="notice"></div>
    <br>

    <!--リクエストボタン-->
    <button id="submit" class="btn btn-primary">解答</button>
    <br>
    <br>

    <!--解答されたテキストにレンダリングしたものを挿入する-->
    <div id="answer"></div>

    <!--類似度スコアの挿入-->
    <div id="result"></div>
    <br>

    <!--問題の解説-->
    <div id="describe"></div>
    <br>

</div>
