
<form action="/signup" method="post">

    <!--registration user name-->
    <div class="form-group">
        <label for="inputUsername">ユーザー名</label>
        <input id="inputUsername" type="text" name="user_name" placeholder="User Name">
    </div>

    <!--registrarion password-->
    <div class="form-group">
        <label for="inputPassword">パスワード</label>
        <input id="inputPassword" type="password" name="password" placeholder="Password">
    </div>

    <!--confirm password-->
    <div class="form-group">
        <label for="confirmPassword">パスワードの確認</label>
        <input id="confirmPassword" type="password" name="confirm" placeholder="Password">
    </div>

    <!--register button-->
    <button type="submit" class="btn btn-primary">登録</button>
</form>