

<!--this is header bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!--header division-->
    <div class="collapse navbar-collapse" id="navbarText">

        <!--header contents list-->
        <ul class="navbar-nav mr-auto">

            <!--home button-->
            <li class="nav-item">
                <a class="nav-link" href="/home">ホーム</a>
            </li>

            <!--profile button-->
            <li class="nav-item">
                <a class="nav-link" href="/profile">履歴</a>
            </li>

            <!--calendar button-->
            <li class="nav-item">
                <a class="nav-link" href="/calendar">カレンダー</a>
            </li>

            <!--blog button-->
            <li class="nav-item">
                <a class="nav-link" href="/blog">ブログ</a>
            </li>

            <!--logout button-->
            <li class="nav-item">
                <a class="nav-link" href="/logout">ログアウト</a>
            </li>
        </ul>
    </div>
</nav>