
<div class="body">
    <!--link to tense question-->
    <div id="<%- kind %>-tence" class="grammar">
        <a href="home/lesson/listening?type=beginner_1" class="nav-link" name="<%- kind %>_1">Learning from Bears</a>
    </div>
</div>
